@font-face {
    font-family: 'dayposterblackregular';
    src: font_url('daypbl__-webfont.woff2') format('woff2'),
         font_url('daypbl__-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}